{# vim:set ai et fenc=utf-8 ff=unix sw=4 syntax=html ts=4: #}
{% extends "base.html" %}

{% block pagecss %}
<link href="/headers/css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block menu_h %}menu_on{% endblock %}

{% block body %}

{% if form.errors %}
<p>El usuario y password ingresado es incorrecto. Por favor intentelo de nuevo.</p>
{% endif %}

<h3>Pagina de Ingreso de Usuarios</h3>

<p>
Ingrese su usuario y password para ingresar.
</p>

<form id="login_form"
 method="post" action=".">
 	  {% csrf_token %}
    <table class="ingresar_info">
        <tr>
        	<td class="etiquetas"><label>Usuario:</label></td>
 			<td> {{ form.username }} </td>
		</tr>
		<tr>
			<td class="etiquetas"><label>Password:</label></td>
			<td> {{ form.password }}</td>
		</tr>
	</table>
	<input type="hidden" name="next" value="/" />
	<input type="submit" value="Ingresar" />
</form>

<p>
Olvido su usuario o password? Click <a
href="/login/forgot">aqui</a>.
</p>

{% endblock %}
