/*
 CSS styles that apply to every page -- don't put page specific styles
 in here, put them in a separate file
 */
body {
  font-family:arial,sans-serif;
  font-size:14px;
  text-align:center;
  padding-top:10px;
}
#main { border:1px solid #d0d0d0; }
#logo { float:left; }
#header { text-align:right; font-size:13px; }
#header form { padding-top:10px; }
#menu_home { width:186px; }
.menu_btn {
  float:left;
  width:190px;
  padding:5px 0px 7px 0px;
  margin:0px;
  color:white; font-family:verdana; font-size:13px;
}
.menu_on {
  background-image:url('/images/bluemenudark.jpg');
  font-weight:bold;
}
.menu_off { background-image:url('/images/bluemenu.jpg'); }
.menu_sep {
  float:left;
  width:1px;
  padding:5px 0px 5px 0px;
  margin:0px;
}
.menu_btn a { color:white; text-decoration:none; }
#index_menu { margin:0px; padding:0px; }
#container_body {
  /* we are in a 950px grid layout, but subtract 2px for borders and
   * 40px for padding */
  width:908px;
  /* we want the body div to be span-23. so we take one span-1, which is
   * 30px, plus a column margin, which is 10px, and pad the body div
   * with these 40px on each side. because of the border, the right
   * side will actually be 2px short on screen. */
  padding:15px 20px 15px 20px;
  border:1px solid #d0d0d0; margin-top:0px;
  text-align:left;
  line-height:1.1;
}
#footer { font-size:12px; text-align:right; }
#footer_links { float:left; }
a.gray { color:#505050; }
a.gray:visited { color:#505050; }

