{% extends "base.html" %}

{% block menu_h %}menu_on{% endblock %}

{% block body %}
  {% if mensaje_error %}
    <h3><b>{{ mensaje_error }}</b></h3>
	{% if departamento_form.errors %}
		<h4><b>{{ departamento_form.errors }}</b></h4>
	{% endif %}
  {% endif %}
  <div class="div_ingreso_datos">
	  {% if depa %}
	  	<h3>Editar</h3>
	  {% else %}
	  	<h3>Agregar Nuevo</h3>
	  {% endif %}
	 <form method="post" action="{% url sicfi.catalogos.views.guardar_departamento %}">
	 <table class="ingresar_info">
	  	<tr>
			{% if depa %}
				<td class="etiquetas"><label>ID:</label></td>
				<td>{{ depa.id }}</td>
			{% endif %}
		</tr>
		<tr>
		{% for field in departamento_form %}
	        <tr>
	            <td class="etiquetas">{{ field.label_tag }}</td> <td>{{ field }}</td>
	        </tr>
		{% endfor %}
		</tr>
	 </table>
	 <p></p>
	 <table class="botones">
	 	<tr>
	 		<td>
					{% csrf_token %}
					<input type="submit" value="Guardar" />
				    <input type="hidden" name="next" value="{{ next }}" />
					{% if depa %}
						<input type="hidden" id="depa_id" name="depa" value="{{ depa.id }}"/>
					{% endif %}
				</form>
			</td>
			{% if depa %}
				<td>
					<form method ="post" action = "{% url sicfi.catalogos.views.delete_departamento %}">
					  {% csrf_token %}
						<input type="submit" value="Eliminar">
						<input type="hidden" id="depa_id" name="depa" value="{{ depa.id }}"/>
					</form>
				</td>
				<td>
					<form method ="post" action = "{% url sicfi.catalogos.views.listar_departamentos %}">
					  {% csrf_token %}
						<input type="submit" value="Limpiar">
					</form>
				</td>
			{% endif %}
	   </tr>
	 </table>
</div>
<h2>Departamentos</h2>
{% if departamentos %}
	<table id= "listados">
		<thead>
			<th><strong>Id</strong></th>
			<th><strong>Descripción</strong></th>
			<th><strong>País</strong></th>
			<th><strong>Estado</strong></th>
		</thead>
		{% for departamento in departamentos %}
		<tr>
			<td><a class ="BLUELINK" href="{{departamento.get_absolute_url}}">{{departamento.id}}</a></td>
			<td>{{departamento.nombre}}</td>
			<td>{{departamento.pais}}</td>
			<td>{{departamento.estado}}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p> No se ha definido ningun departamento</p>
{% endif %}
{% endblock %}