{% extends "base.html" %}

{% block menu_h %}menu_on{% endblock %}

{% block body %}
  {% if mensaje_error %}
    <h3><b>{{ mensaje_error }}</b></h3>
	{% if tdocumento_form.errors %}
		<h4><b>{{ tdocumento_form.errors }}</b></h4>
	{% endif %}
  {% endif %}
   {% if tdocumento %}
  	<h3>Editar</h3>
  {% else %}
  	<h3>Agregar Nuevo</h3>
  {% endif %}
 <table  width="70%" cellspacing="0" cellpadding="1">
 	<form method="post" action="{% url sicfi.catalogos.views.guardar_tdocumento %}">
  	<tr>
		{% if tdocumento %}
			<td>ID:</td>
			<td>{{ tdocumento.id }}</td>
		{% endif %}
  	</tr>
	<tr>
    	<td> {{ tdocumento_form.descripcion.label_tag }} </td>
    	<td> {{ tdocumento_form.descripcion }} </td>
	</tr>
		<tr>
		<td> {{ tdocumento_form.estado.label_tag }} </td>
    	<td> {{ tdocumento_form.estado }} </td>
	</tr>

 </table>
 <p></p>
 <table>
 	<tr>
 		<td>
				{% csrf_token %}
				<input type="submit" value="Guardar" />
			    <input type="hidden" name="next" value="{{ next }}" />
				{% if tdocumento %}
					<input type="hidden" id="tdocumento_id" name="tdocumento" value="{{ tdocumento.id }}"/>
				{% endif %}
			</form>
		</td>
		{% if tdocumento %}
			<td>
				<form method ="post" action = "{% url sicfi.catalogos.views.delete_tdocumento %}">
				  {% csrf_token %}
					<input type="submit" value="Borrar">
					<input type="hidden" id="tdocumento_id" name="tdocumento" value="{{ tdocumento.id }}"/>
				</form>
			</td>
			<td>
				<form method ="post" action = "{% url sicfi.catalogos.views.listar_tdocumento %}">
				  {% csrf_token %}
					<input type="submit" value="Limpiar">
				</form>
			</td>
		{% endif %}
   </tr>
 </table>
<h2>Tipos de Documentos</h2>
{% if tdocumentos %}
	<table width="100%" cellspacing="0" cellpadding="1">
		<tr>
			<td> </td>
			<td><strong>Id</strong></td>
			<td><strong>Descripción</strong></td>
			<td><strong>Estado</strong></td>
		</tr>
		{% for tdoc in tdocumentos %}
		<tr>
			<td><a class ="BLUELINK" href="{{tdoc.get_absolute_url}}">Editar</a></td>
			<td>{{tdoc.id}}</td>
			<td>{{tdoc.descripcion}}</td>
			<td>{{tdoc.estado}}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p> No se ha definido ningun tipo de documento</p>
{% endif %}
{% endblock %}