<!DOCTYPE
  html
  PUBLIC
  "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xml:lang="en">
    <head>
        <meta
          http-equiv="Content-Type"
          content="text/html;charset=utf-8"/>
        <title>{% block title %}SCIFI: Sistema de Control de Facturación e Inventario{% endblock %}</title>
        <link rel="stylesheet"
            href="headers/blueprint/screen.css"
            type="text/css" media="screen,projection" />
        <link rel="stylesheet"
            href="headers/blueprint/print.css"
            type="text/css" media="print" />
        <link href="headers/css/sicfi.css"
            rel="stylesheet" type="text/css" />
        <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="headers/js/scifi.js">
        </script>
        {% block pagejs %}{% endblock %}
        {% block pagecss %}{% endblock %}
    </head>
    <body>
    <div class="container" id="container_top">
      <div class="span-24 last" id="container_main">
        <div class="span-24 last" id="header">
          <a href="/"><img src="images/scifi.gif" id="logo"></a>

          <form action="/search" method="get">
            {% if user.is_authenticated %}
              <span id="index_welcome">
              {% if user.first_name or user.last_name %}
                Welcome, {{ user.first_name }} {{ user.last_name }}
              {% else %}
                Welcome, {{ user.username }}
              {% endif %}
              </span> |
              <a href="/logout/">Salir</a>
            {% else %}
              <a href="/login/">Ingresar</a> |
            {% endif %}
            <br/>
         </form>
        </div>
        <div class="span-24 last" id="index_menu">
          <div class="menu_btn {% block menu_a %}menu_off{% endblock %}"
               id="menu_archivos"
               target="/archivos/menu">
            <a href="#">Archivos</a>
          </div>
          <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_b %}menu_off{% endblock %}"
               id="menu_clientes"
               target="/clientes/menu">
            <a href="#">Clientes</a>
          </div>
          <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_c %}menu_off{% endblock %}"
               id="menu_llamadas"
               target="/llamadas/menu">
            <a href="#">Llamadas</a>
          </div>
          <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_d %}menu_off{% endblock %} last"
               id="menu_inventario"
               target="/inventario/menu">
            <a href="#">Inventario</a>
          </div>
		  <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_e %}menu_off{% endblock %} last"
               id="menu_proformas"
               target="/proformas/menu">
            <a href="#">Proformas</a>
          </div>
		  <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_f %}menu_off{% endblock %} last"
               id="menu_cxc"
               target="/cxc/menu">
            <a href="#">Cuentas por Cobrar</a>
          </div>
		  <div class="menu_sep"><img src="/images/spacer.gif"></div>
          <div class="menu_btn {% block menu_g %}menu_off{% endblock %} last"
               id="menu_ayuda"
               target="/ayuda/menu">
            <a href="#">Ayuda</a>
          </div>
        </div>

        <div class="span-24 last" id="container_body"> {# body #}
          <div class="span-23 last" id="error_message">
            {% block error_message %}{% endblock %}
          </div>
          <div class="span-23 last" id="body">
            {% block body %}{% endblock %}
          </div>
        </div>
        <div class="span-24 last" id="footer"> {# Footer #}
          <div id="footer_links">
            <a href="/" class="gray">Home</a> |
          </div>
        </div>
      </div>
    </div> {# container #}
  </body>
</html>
